{% extends "project/index.html" %}

{% block title %}Создаем публикацыю{% endblock %}
{% block content %}
<p>{{ error }}</p>
<h2>Сздаем публикацыю</h2>
<form action="{% url 'projects:publish' %}" method="post">
    {% csrf_token %}
    <input type="password" name="secret" placeholder="Secret Key"/>
    <br/><br/>
    <input type="text" name="name" placeholder="Название"/>
    <br/><br/>
    <textarea name="text" placeholder="Текст"></textarea><br>
    <input type="submit" value="Опубликовать">
</form>
{% endblock %}