{% extends "project/index.html" %}

{% block title %}Мои контакты{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-5 offset-1">
            <h2>Погода в вашем городе</h2>

            <h2>{{a}}</h2>
            <form action="" method="post">
                {% csrf_token %}
                <label for="city">Город</label>
                {{form.name}}
                <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
            </form>

        </div>
        <div class="col-5 offset-1">
            <h2>Информация</h2>
            {% for info in all_info %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-9">
                        <b>Город:</b> {{info.city}} <br>
                        <b>Температура:</b> {{info.temp}} <sup>o</sup> <br>
                    </div>
                    <div class="col-2 offset-1">
                        <img src="http://openweathermap.org/img/w/{{info.icon }}.png" alt="Фото погоды" >
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}